<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 301 Redirect .html requests to clean URLs
  RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/([^.]+)\.html [NC]
  RewriteRule ^ %1 [R=301,L]

  # Internally serve .html if file exists
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{DOCUMENT_ROOT}/$1.html -f
  RewriteRule ^(.*)$ $1.html [L]
</IfModule>
